## **Introduction to Python Scripting**

### Day - 1

In [3]:
# This is a comment line
# This is another comment line
# This is the last comment line

In [6]:
num1 = input("Please enter the first integer number: ")
num2 = input("Please enter the second integer number: ")
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2   # string concatenation
print ("So the total is", total)
print ("End of the program...")

Please enter the first integer number:  200
Please enter the second integer number:  300

200 <class 'str'>
300 <class 'str'>
So the total is 200300
End of the program...

In [8]:
num1 = int(input("Please enter the first integer number: "))
num2 = int(input("Please enter the second integer number: "))
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2   # algebraic addition
print ("So the total is", total)
print ("End of the program...")

Please enter the first integer number:  500
Please enter the second integer number:  700

500 <class 'int'>
700 <class 'int'>
So the total is 1200
End of the program...

In [24]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))  # {} is called variable place-holder
print ("So {0} + {1} = {2}".format(num1, num2, total))  # using numbered/indexed place-holder
print ("So {2} + {1} = {0}".format(total, num2, num1))  # using numbered/indexed place-holder
print ("So {fn} + {sn} = {tot}".format(fn=num1, sn=num2, tot=total))  # labeled place-holder
print ("So {fn} + {sn} = {tot}".format(sn=num2, fn=num1, tot=total))  # labeled place-holder
print ("So {fn} + {sn} = {tot}".format(fn=num1, sn=num2, tot=total))  # labeled place-holder
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %f + %d = %d"%(num1, num2, total))
print ("So %8.2f + %d = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # f stands for smart formatting

So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500 + 700 = 1200
So 500.000000 + 700 = 1200
So   500.00 + 700 = 1200
So 500 + 700 = 1200

### Dynamic Variable Datatypes

In [25]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 2283603561808
100.5 <class 'float'> 2283710936144
Punch <class 'str'> 2283711954544
P <class 'str'> 2283605122608
Punch <class 'str'> 2283711954544
P <class 'str'> 2283605122608
True <class 'bool'> 140705103431888
False <class 'bool'> 140705103431920

### Python Operators

In [ ]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=

# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)

In [29]:
# Arithmetic Operators: + - * / // ** %
print (100 + 40)  # addition operation
print (100 - 40)  # subtraction operation
print (100 / 40)  # float division operation
print (100 // 40) # integer division operation
print (100 * 40)  # multiplication operation
print (100 ** 4)  # exponentiation operation
print (100 % 40)  # modulus operation, remainder of the divison

140
60
2.5
2
4000
100000000
20

In [30]:
# Conditional Operators: > >= < <= != ==
print (100 > 50, 100 >= 50)
print (100 < 50, 100 <= 50)
print (100 != 50, 100 == 50)

True True
False False
True False

In [33]:
# Logical Operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

False False False True
False True True True
False True

In [36]:
# Assignment Operator: =
# Special Assignment Operator: += -= *= /= //= **= %=
var1 = 100
print (var1)
var1 += 20
print (var1)
var1 -= 40
print (var1)
var1 *= 2
print (var1)
var1 %= 30
print (var1)

100
120
80
160
10

In [37]:
# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)
num1 = 100
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (num1, result)

num1 = 105
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (num1, result)

100 EVEN
105 ODD

In [38]:
# Bitwise Operators: & | ~ ^
# A => 65 => 64 + 1      => 0100 0001
#                        or 0010 0000 (32)
#                           ---------
# a => 97 => 64 + 32 + 1 => 0110 0001
char1 = 'A'
result = chr(ord(char1) | 32)
print (char1, result)

A a

In [39]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

### Conditional Statements

In [49]:
# Take three numbers from the user as input and find the maximum of these three numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  300
Please enter the second integer:  200
Please enter the third integer:  100

The first number is the maximum number...
So the maximum number is 300
End of the program...

In [52]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  100
Please enter the third integer:  300

The third number is the maximum number...
So the maximum number is 300
End of the program...

In [57]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (choice == 4):
    print ("Performing the division operation...")
    if (num2 == 0):
        print ("Division by ZERO is Illegal !!!")
        print ("Division operation can not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been provided...")
    print ("No operation could get carried out...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...

Please enter youe choice integer (1 to 4):  4
Please enter the first integer:  300
Please enter the second integer:  75

Performing the division operation...
So 300 / 75 = 4.0
End of the program...

### **Day - 2**

### Loop Control

In [2]:
for i in range(8):
    print (f"i = {i}...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...

In [5]:
result = list(range(8))
print (result)
result = list(range(1, 8))
print (result)
result = list(range(1, 8, 2))
print (result)

[0, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7]

In [6]:
for i in range(1, 8, 2):
    print (f"i = {i}...")

i = 1...
i = 3...
i = 5...
i = 7...

In [7]:
for i in [11, 44, 22, 55, 33, 66]:
    print (f"i = {i}...")

i = 11...
i = 44...
i = 22...
i = 55...
i = 33...
i = 66...

In [8]:
for i in (11, 44, 22, 55, 33, 66):
    print (f"i = {i}...")

i = 11...
i = 44...
i = 22...
i = 55...
i = 33...
i = 66...

In [9]:
for i in [11, 44, "22.5", 55.5, 33, True, 66, False]:
    print (f"i = {i}...")

i = 11...
i = 44...
i = 22.5...
i = 55.5...
i = 33...
i = True...
i = 66...
i = False...

In [10]:
for i in range(8):
    print (f"i = {i}...")
else:
    print ("ELSE block is executing...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...
ELSE block is executing...

In [13]:
for i in range(8):
    print (f"i = {i}...")
    if (i == 5): break   # break is a statement or a command which will terminate a loop execution abruptly
else:                    # break statement can only be used with in a loop construct
    print ("ELSE block is executing...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...

In [14]:
for i in range(10):
    if (i == 5 or i == 7):
        print (f"For i = {i} going to loop again with continue statement...")
        continue
    print (f"Looping for i = {i}...")
else:
    print ("ELSE block is executing...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
For i = 5 going to loop again with continue statement...
Looping for i = 6...
For i = 7 going to loop again with continue statement...
Looping for i = 8...
Looping for i = 9...
ELSE block is executing...

In [ ]:
for i in range(10):
    if (i == 5 or i == 7):
        print (f"For i = {i} going to loop again with continue statement...")
        continue
    else:
        pass    # pass is a statement place holder....
    print (f"Looping for i = {i}...")
else:
    print ("ELSE block is executing...")

In [17]:
for i in range(8):
    pass
else:
    pass

In [20]:
# nested for loops
print ("Visit Doctor...")  # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")  # 5 times
    for medi in range(1, 4):
        print (f"Day No. - {day} and Medicine No. - {medi}...")  # 15 times
        medicount = medicount + 1  # 15 times
    print ("Good Night...")  # 5 times
    print ("-----------------------------------------------------------------")  # 5 times
print ("Thanks to Doctor...")  # 1 time
print (f"Total number of medicines consumed is {medicount}...")

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No. - 1...
Day No. - 1 and Medicine No. - 2...
Day No. - 1 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 2 and Medicine No. - 1...
Day No. - 2 and Medicine No. - 2...
Day No. - 2 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 3 and Medicine No. - 1...
Day No. - 3 and Medicine No. - 2...
Day No. - 3 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 4 and Medicine No. - 1...
Day No. - 4 and Medicine No. - 2...
Day No. - 4 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 5 and Medicine No. - 1...
Day No. - 5 and Medicine No. - 2...
Day No. - 5 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...

In [23]:
# check whether a given number is a PRIME number or not
# as example - 3, 5, 7, 11, 13, 17, 19, 23, ....
num = int(input("Please enter one integer number: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer number: 13
13 is a PRIME Number...
End of the program...

In [25]:
# check whether a given number is a PRIME number or not
# as example - 3, 5, 7, 11, 13, 17, 19, 23, ....
num = int(input("Please enter one integer number: "))
i = 2
while (i < num):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break
    i = i + 1
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer number: 20
20 is NOT a PRIME Number...
End of the program...

In [26]:
# nested for loops
print ("Visit Doctor...")  # 1 time
medicount = 0
day = 1
while (day <= 5):
    print ("Good Morning...")  # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. - {day} and Medicine No. - {medi}...")  # 15 times
        medicount = medicount + 1  # 15 times
        medi = medi + 1
    print ("Good Night...")  # 5 times
    print ("-----------------------------------------------------------------")  # 5 times
    day = day + 1
print ("Thanks to Doctor...")  # 1 time
print (f"Total number of medicines consumed is {medicount}...")

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No. - 1...
Day No. - 1 and Medicine No. - 2...
Day No. - 1 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 2 and Medicine No. - 1...
Day No. - 2 and Medicine No. - 2...
Day No. - 2 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 3 and Medicine No. - 1...
Day No. - 3 and Medicine No. - 2...
Day No. - 3 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 4 and Medicine No. - 1...
Day No. - 4 and Medicine No. - 2...
Day No. - 4 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 5 and Medicine No. - 1...
Day No. - 5 and Medicine No. - 2...
Day No. - 5 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...

In [27]:
# nested for loops
print ("Visit Doctor...")  # 1 time
medicount = 0
day = 1
while (day <= 5):
    print ("Good Morning...")  # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. - {day} and Medicine No. - {medi}...")  # 15 times
        medicount += 1  # 15 times
        medi += 1
    print ("Good Night...")  # 5 times
    print ("-----------------------------------------------------------------")  # 5 times
    day += 1
print ("Thanks to Doctor...")  # 1 time
print (f"Total number of medicines consumed is {medicount}...")

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No. - 1...
Day No. - 1 and Medicine No. - 2...
Day No. - 1 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 2 and Medicine No. - 1...
Day No. - 2 and Medicine No. - 2...
Day No. - 2 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 3 and Medicine No. - 1...
Day No. - 3 and Medicine No. - 2...
Day No. - 3 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 4 and Medicine No. - 1...
Day No. - 4 and Medicine No. - 2...
Day No. - 4 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Good Morning...
Day No. - 5 and Medicine No. - 1...
Day No. - 5 and Medicine No. - 2...
Day No. - 5 and Medicine No. - 3...
Good Night...
-----------------------------------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...

In [30]:
print ("Hello" * 5)
print ("Hello " * 5)
print ("Hello " * 8)

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
Pattern - 1
-----------
n = 6           i    .    *
             -----------------
.....*          1    5    1       (n, i)
....***         2    4    3  . => (n - i)
...*****        3    3    5
..*******       4    2    7  * => (2 * i - 1)
.*********      5    1    9
***********     6    0   11
             -----------------
               Tracing Table

In [32]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the pattern printing...")

Please enter the number of layers: 6
.....*
....***
...*****
..*******
.*********
***********
End of the pattern printing...

In [ ]:
Pattern - 2
-----------
n = 6           i    .    *
             -----------------
***********     1    0   11       (n, i)
.*********      2    1    9  . => (i - 1)
..*******       3    2    7
...*****        4    3    5  * => (2 * (n - i) + 1)
....***         5    4    3
.....*          6    5    1
             -----------------
               Tracing Table

In [34]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the pattern printing...")

Please enter the number of layers: 6
***********
.*********
..*******
...*****
....***
.....*
End of the pattern printing...

In [ ]:
Pattern - 3
-----------
n = 11 (User given ODD number for layers)  m = (n + 1) // 2 = 6
                i    .    *
             -----------------
.....*          1    5    1       (n, i, m)
....***         2    4    3  . => (m - i)
...*****        3    3    5
..*******       4    2    7  * => (2 * i - 1)
.*********      5    1    9
***********  ___6____0___11____
.*********      7    1    9
..*******       8    2    7  . => (i - m)
...*****        9    3    5
....***        10    4    3  * => (2 * (n - i) + 1)
.....*         11    5    1
             ---- -------------
               Tracing Table

In [38]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern printing...")

Please enter the ODD number of layers: 12
Please enter the ODD number of layers: 16
Please enter the ODD number of layers: 18
Please enter the ODD number of layers: 20
Please enter the ODD number of layers: 8
Please enter the ODD number of layers: 11
.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the pattern printing...

### **Day - 3**

### User Defined Function (UDF)

In [3]:
def funct1():
    print ("Hello " * 3)
    
funct1()
funct1()
funct1()
funct1()

Hello Hello Hello
Hello Hello Hello
Hello Hello Hello
Hello Hello Hello

In [8]:
def funct2(msg, times):   # positional parameters
    print (msg * times)
    
funct2("Hello ", 5)       # positional arguments
funct2("Hi !!! ", 7)
result = funct2("Good Day ", 3)
print (result)

Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!
Good Day Good Day Good Day
None

In [7]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 5)
print (result, type(result))
print (funct3("Welcome ", 4))

Hello Hello Hello Hello Hello  <class 'str'>
Welcome Welcome Welcome Welcome

In [13]:
def funct3(par1, par2):
    return par1 * par2

result = funct3("Hello ", 5)
print (result, type(result))
result = funct3(100, 5)
print (result, type(result))
result = funct3(100.0, 5)
print (result, type(result))
result = funct3(True, 5)
print (result, type(result))
result = funct3(False, 5)
print (result, type(result))

Hello Hello Hello Hello Hello  <class 'str'>
500 <class 'int'>
500.0 <class 'float'>
5 <class 'int'>
0 <class 'int'>

In [26]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)    # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...

In [28]:
def funct5(par1, par2 = None):
    # if (par2 == None):
    if (par2 is None):
        return par1 + par1
    else:
        return par1 + par2
    
print (funct5(300))
print (funct5(200, 300))

600
500

In [32]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    remainder = num1 % num2
    return total, difference, product, quotient, remainder

tt, dd, pp, qq, rr = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp}, Quotient = {qq} and Remainder = {rr}...")
result = funct6(100, 40)
print (result, len(result), type(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]}, Quotient = {result[3]} and Remainder = {result[4]}...")
print (f"Total = {result[0]} and Remainder = {result[4]}...")

Total = 140, Difference = 60, Product = 4000, Quotient = 2.5 and Remainder = 20...
(140, 60, 4000, 2.5, 20) 5 <class 'tuple'>
Total = 140, Difference = 60, Product = 4000, Quotient = 2.5 and Remainder = 20...
Total = 140 and Remainder = 20...

In [33]:
# function with variable number of arguments
def funct7(*arg):   # *arg means forcefully defining arg is of type tuple object
    print (arg, len(arg), type(arg))
    
funct7("Amitava", "Male", "Developer")
funct7("Amitava", "Male", "Developer", "Mexico", "Accenture")
funct7("Amitava", "Male", "Developer", "Mexico", "Accenture", "Dot Net")

('Amitava', 'Male', 'Developer') 3 <class 'tuple'>
('Amitava', 'Male', 'Developer', 'Mexico', 'Accenture') 5 <class 'tuple'>
('Amitava', 'Male', 'Developer', 'Mexico', 'Accenture', 'Dot Net') 6 <class 'tuple'>

In [34]:
def funct8(**kwarg):   # **kwarg means forcefully defining key-word argument kwarg is of type dictionary object
    print (kwarg, len(kwarg), type(kwarg))
    
funct8(name="Amitava", gender="Male", job="Developer")
funct8(name="Amitava", gender="Male", job="Developer", location="Mexico", company="Accenture")
funct8(name="Amitava", gender="Male", job="Developer", location="Mexico", company="Accenture", technology="Dot Net")

{'name': 'Amitava', 'gender': 'Male', 'job': 'Developer'} 3 <class 'dict'>
{'name': 'Amitava', 'gender': 'Male', 'job': 'Developer', 'location': 'Mexico', 'company': 'Accenture'} 5 <class 'dict'>
{'name': 'Amitava', 'gender': 'Male', 'job': 'Developer', 'location': 'Mexico', 'company': 'Accenture', 'technology': 'Dot Net'} 6 <class 'dict'>

In [47]:
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg))
    print (kwarg, len(kwarg), type(kwarg))
    
funct9("Amitava", "Male", job="Developer", location="Mexico", company="Accenture", technology="Dot Net")
print()
funct9("Amitava", "Male")
print ()
funct9(job="Developer", location="Mexico", company="Accenture", technology="Dot Net")
print (type(funct9))

('Amitava', 'Male') 2 <class 'tuple'>
{'job': 'Developer', 'location': 'Mexico', 'company': 'Accenture', 'technology': 'Dot Net'} 4 <class 'dict'>

('Amitava', 'Male') 2 <class 'tuple'>
{} 0 <class 'dict'>

() 0 <class 'tuple'>
{'job': 'Developer', 'location': 'Mexico', 'company': 'Accenture', 'technology': 'Dot Net'} 4 <class 'dict'>
<class 'function'>

In [41]:
# non-recursive or iterative factorial calculation function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
    return fact

num = 5
result = factorial_nr(num)
print (f"So factorial of {num} is {result}...")
num = 6
result = factorial_nr(num)
print (f"So factorial of {num} is {result}...")

So factorial of 5 is 120...
So factorial of 6 is 720...

In [43]:
# recursive factorial calculation function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_r(num):
    if (num == 0 or num == 1): return 1    # base case, means for some input conditions outputs are pre-known to us
    return num * factorial_r(num - 1)      # recursive case, the function will call itself

num = 5
result = factorial_r(num)
print (f"So factorial of {num} is {result}...")
num = 6
result = factorial_r(num)
print (f"So factorial of {num} is {result}...")

So factorial of 5 is 120...
So factorial of 6 is 720...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

### Lambda Function

In [48]:
my_add = lambda num1, num2: num1 + num2
print (type(my_add))
print (my_add(100, 400))
print (my_add(1000, 4000))

<class 'function'>
500
5000

In [49]:
# recursive lambda function
my_fact = lambda num: 1 if (num == 0 or num == 1) else num * my_fact(num - 1)

num = 5
result = my_fact(num)
print (f"So the factorial of {num} is {result}...")

So the factorial of 5 is 120...

### **Day - 4**

## String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [4]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval

university 10 <class 'str'> 2302192068080
v v i i r r
niversi niversi niversi niversi ytisrevinu

In [5]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2302191889152
CALCUTTA UNIVERSITY
calcutta university
Calcutta University
Calcutta university
CAlcUttA UNivERsITy
          caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [11]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4 4 11 -1
4 4 11

ValueError: substring not found

In [12]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful searching has taken place...")
print ("End of the program...")

4 4 11
Unsuccessful searching has taken place...
End of the program...

In [13]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()), mystr.lstrip(), len(mystr.lstrip()), mystr.rstrip(),
       len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2302121914928
calcutta    university 22 calcutta    university      27     calcutta    university 26
calcutta    university calcutta    university      27

In [14]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

calcutta#@#@university 22 calcutta#@#@university#@@@# ##@@calcutta#@#@university 26

In [15]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [19]:
mystr = "university"    # Reading character by character from a string
for ch in mystr:
    print (ch)

u
n
i
v
e
r
s
i
t
y

In [20]:
mystr = "university"    # Reading character by character from a string
for i in range(len(mystr)):
    print (mystr[i])

u
n
i
v
e
r
s
i
t
y

In [21]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

charity begins at home 22 <class 'str'> 2302191894032
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [23]:
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
print (list_num)

Enter your all numbers:  11 33 22 55 44 77 66

[11, 33, 22, 55, 44, 77, 66]

In [26]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2302224131840
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [29]:
mystr = "university"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "0xab"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university@1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())

True True False False False
False True True True True
False True False False False
False True False False False
False False False False False

In [32]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "xyz")
print (mystr)

2 1 0
unxversxty
university
unxyzversxyzty

In [33]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'p', 'm', 'i', 's'}
frozenset({'p', 'm', 'i', 's'})

## List Processing

In [35]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 2302224984128
700 100
1700 340.0

In [36]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 2302225264256
700 False
1701 243.0

In [37]:
list1 = ["sunday", "monday", 'friday', 'saturday', 'Tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['sunday', 'monday', 'friday', 'saturday', 'Tuesday'] 5 <class 'list'> 2302225455424
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700] 9 <class 'list'> 2302225908800

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
# Indexing and slicing
# L ro R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 2302224600832
Wednesday Wednesday Thursday Thursday
nes nes

In [40]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
for item in list1:
    print (item)

Monday
Tuesday
Wednesday
Thursday
Friday

In [42]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = list1 + list2    # list concatenation
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [43]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = [list1, list2]      # list of lists
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [44]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.append("Guava")
print (list1, len(list1))
list1.append("Apple")
print (list1, len(list1))
list1.append("Lemon")
print (list1, len(list1))
list1.append("Carrot")
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava'] 6
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Apple'] 7
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Apple', 'Lemon'] 8
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Apple', 'Lemon', 'Carrot'] 9

In [46]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.insert(1, "Guava")
print (list1, len(list1))
list1.insert(3, "Apple")
print (list1, len(list1))
list1.insert(2, "Lemon")
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Mango', 'Guava', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 6
['Mango', 'Guava', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 7
['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8

In [48]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
# update operation on list
list1[0] = "Himsagar"
print (list1, len(list1))
list1[4] = "Lemon"
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Himsagar', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Himsagar', 'Pineapple', 'Coconut', 'Banana', 'Lemon'] 5

In [55]:
# deletion operation on list
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.remove("Pineapple")
print (list1, len(list1))
list1.remove("Lemon")
print (list1, len(list1))
list1.remove("Apple")
print (list1, len(list1))
list1.remove("Banana")
print (list1, len(list1))
list1.remove("Banana")
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8
['Mango', 'Guava', 'Lemon', 'Apple', 'Coconut', 'Banana', 'Lime'] 7
['Mango', 'Guava', 'Apple', 'Coconut', 'Banana', 'Lime'] 6
['Mango', 'Guava', 'Coconut', 'Banana', 'Lime'] 5
['Mango', 'Guava', 'Coconut', 'Lime'] 4

ValueError: list.remove(x): x not in list

In [50]:
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8
Lime
['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana'] 7
Banana
['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut'] 6
Coconut
['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple'] 5
Apple
['Mango', 'Guava', 'Lemon', 'Pineapple'] 4

In [51]:
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
print (list1.pop(2))
print (list1, len(list1))
print (list1.pop(1))
print (list1, len(list1))
print (list1.pop(3))
print (list1, len(list1))
print (list1.pop(0))
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8
Lemon
['Mango', 'Guava', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 7
Guava
['Mango', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 6
Coconut
['Mango', 'Pineapple', 'Apple', 'Banana', 'Lime'] 5
Mango
['Pineapple', 'Apple', 'Banana', 'Lime'] 4

In [52]:
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8
[] 0

In [53]:
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[1]
print (list1, len(list1))
del list1[3]
print (list1, len(list1))
del list1[0]
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8
['Mango', 'Guava', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 7
['Mango', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 6
['Mango', 'Pineapple', 'Apple', 'Banana', 'Lime'] 5
['Pineapple', 'Apple', 'Banana', 'Lime'] 4

In [54]:
list1 = ['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
del list1
print (list1, len(list1))

['Mango', 'Guava', 'Lemon', 'Pineapple', 'Apple', 'Coconut', 'Banana', 'Lime'] 8

NameError: name 'list1' is not defined

In [56]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango'] 5

In [57]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.sort()
print (list1, len(list1))
list1.sort(reverse = True)
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple'] 5
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana'] 5

In [58]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1 = sorted(list1)
print (list1, len(list1))
list1 = sorted(list1, reverse = True)
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple'] 5
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana'] 5

In [59]:
list1 = [True, False, True, True]
print (any(list1), all(list1))
list1 = [True, True, True, True]
print (any(list1), all(list1))
list1 = [False, False, False, False]
print (any(list1), all(list1))

True False
True True
False False

In [60]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (any(list1), all(list1))
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

True True
2
1
4

In [61]:
def list_function(llist):
    for i in range(len(llist)):
        llist[i] += 100
        
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (list1, len(list1), type(list1), id(list1))
list_function(list1)
print (list1, len(list1), type(list1), id(list1))

[11, 22, 33, 44, 55, 66, 77, 88] 8 <class 'list'> 2302226242944
[111, 122, 133, 144, 155, 166, 177, 188] 8 <class 'list'> 2302226242944

In [65]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (list1, id(list1))
list2 = list1
list1[0] = 9999
list2[3] = 8888
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77, 88] 2302226343040
[9999, 22, 33, 8888, 55, 66, 77, 88] 2302226343040
[9999, 22, 33, 8888, 55, 66, 77, 88] 2302226343040

In [68]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (list1, id(list1))
list2[:] = list1
list1[0] = 9999
list2[3] = 8888
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77, 88] 2302226343040
[9999, 22, 33, 44, 55, 66, 77, 88] 2302226343040
[11, 22, 33, 8888, 55, 66, 77, 88] 2302226340864

In [67]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (list1, id(list1))
list2 = list1.copy()
list1[0] = 9999
list2[3] = 8888
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77, 88] 2302226450432
[9999, 22, 33, 44, 55, 66, 77, 88] 2302226450432
[11, 22, 33, 8888, 55, 66, 77, 88] 2302226340864

## Tuple Processing

In [69]:
tuple1 = (100, 400, 300, 200, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 8 <class 'tuple'> 2302226750160
700 100
1700 340.0

In [70]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 8 <class 'tuple'> 2302226570816
700 False
1701 243.0

In [71]:
tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('sunday', 'monday', 'friday', 'saturday', 'Tuesday') 8 <class 'tuple'> 2302226750160
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 8 <class 'tuple'> 2302226707392

TypeError: '>' not supported between instances of 'str' and 'int'

In [73]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [74]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1)
print (tuple2)
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3)
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Mango', 'Pineapple', 'Guava', 'Lime')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime')
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime'))

In [75]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [77]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (list1, id(list1))
list1[1] = 'Saturday'
print (list1, id(list1))
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2302227125392
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 2302226782464
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday'] 2302226782464
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 2302227226016

In [78]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple1, id(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2302227122832
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2302227122832

In [79]:
tuple1 = (True, False, True, True); print (any(tuple1), all(tuple1))
tuple1 = (True, True, True, True); print (any(tuple1), all(tuple1))
tuple1 = (False, False, False, False); print (any(tuple1), all(tuple1))

True False
True True
False False

In [80]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))

2 0

In [82]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0))
print (tuple1.index("Pineapple", 2))
print (tuple1.index("Pineapple", 5))

1
1
4

ValueError: tuple.index(x): x not in tuple

### **Day - 5**

## Dictionary Processing

In [1]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())     # returns list of keys
print (dict1.values())   # returns list of values
print (dict1.items())    # returns list of tuples

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2308335686400
dict_keys(['apple', 'pineapple', 'mango', 'orange', 'lime'])
dict_values(['red', 'yellow', 'green', 'orange', 'green'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('mango', 'green'), ('orange', 'orange'), ('lime', 'green')])

In [3]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green", "mango":"red"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())     # returns list of keys
print (dict1.values())   # returns list of values
print (dict1.items())    # returns list of tuples

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2308335686400
dict_keys(['apple', 'pineapple', 'mango', 'orange', 'lime'])
dict_values(['red', 'yellow', 'red', 'orange', 'green'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('mango', 'red'), ('orange', 'orange'), ('lime', 'green')])

In [7]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1.get('mango'))
print (dict1.get('banana'))
print (dict1.get('mango', "NA"))
print (dict1.get('banana', "NA"))

green
None
green
NA

In [9]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1['apple'])
print (dict1['pineapple'])
print (dict1['banana'])

red
yellow

KeyError: 'banana'

In [10]:
# insert and update operations on a dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['banana'] = 'yellow'    # insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['lime'] = 'green'       # insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['lemon'] = 'light green'# insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['mango'] = 'red'        # update operation
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308364041984
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow'} 5 <class 'dict'> 2308364041984
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow', 'lime': 'green'} 6 <class 'dict'> 2308364041984
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow', 'lime': 'green', 'lemon': 'light green'} 7 <class 'dict'> 2308364041984
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'banana': 'yellow', 'lime': 'green', 'lemon': 'light green'} 7 <class 'dict'> 2308364041984

In [11]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("apple", "deep red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("mango", "red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("banana", "yellow")
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308334925440
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308334925440
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308334925440
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow'} 5 <class 'dict'> 2308334925440

In [13]:
# delete operation on dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('apple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('orange'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('orange'))
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308364074560
yellow
{'apple': 'red', 'mango': 'green', 'orange': 'orange'} 3 <class 'dict'> 2308364074560
red
{'mango': 'green', 'orange': 'orange'} 2 <class 'dict'> 2308364074560
orange
{'mango': 'green'} 1 <class 'dict'> 2308364074560

KeyError: 'orange'

In [15]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308363810240
('orange', 'orange')
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 2308363810240
('mango', 'green')
{'apple': 'red', 'pineapple': 'yellow'} 2 <class 'dict'> 2308363810240
('pineapple', 'yellow')
{'apple': 'red'} 1 <class 'dict'> 2308363810240
('apple', 'red')
{} 0 <class 'dict'> 2308363810240

KeyError: 'popitem(): dictionary is empty'

In [16]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308364796288
{} 0 <class 'dict'> 2308364796288

In [18]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308364797440

NameError: name 'dict1' is not defined

In [19]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow"}
fruits2 = {"mango":"green", "orange":"orange", "lime":"green"}
print (fruits1, len(fruits1))
print (fruits2, len(fruits2))
fruits1.update(fruits2)
print (fruits1, len(fruits1))
print (fruits2, len(fruits2))

{'apple': 'red', 'pineapple': 'yellow'} 2
{'mango': 'green', 'orange': 'orange', 'lime': 'green'} 3
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5
{'mango': 'green', 'orange': 'orange', 'lime': 'green'} 3

In [20]:
mykeys = ["mango", 'pineapple', "cherry", "lime"]
price = 900
dict1 = dict.fromkeys(mykeys, price)
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 900, 'pineapple': 900, 'cherry': 900, 'lime': 900} 4 <class 'dict'> 2308366972032

In [25]:
fruits = ["mango", 'pineapple', "cherry", "lime", "banana"]
prices = [100, 300, 500, 200, 700, 900]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (set(zip(fruits, prices)))
print (dict(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))

<zip object at 0x000002197570E8C0>
[('mango', 100), ('pineapple', 300), ('cherry', 500), ('lime', 200), ('banana', 700)]
(('mango', 100), ('pineapple', 300), ('cherry', 500), ('lime', 200), ('banana', 700))
{('pineapple', 300), ('mango', 100), ('lime', 200), ('banana', 700), ('cherry', 500)}
{'mango': 100, 'pineapple': 300, 'cherry': 500, 'lime': 200, 'banana': 700}
{'mango': 100, 'pineapple': 300, 'cherry': 500, 'lime': 200, 'banana': 700}

In [26]:
def switch_case_demo(month_no):
    switcher = {1:"January",
                2:"February",
                3:"March",
                4:"April",
                5:"May",
                6:"June",
                7:"July",
                8:"August",
                9:"September",
                10:"October",
                11:"November",
                12:"December"}
    return switcher.get(month_no, "Invalid Month No.")

print (switch_case_demo(3))
print (switch_case_demo(7))
print (switch_case_demo(11))
print (switch_case_demo(13))

March
July
November
Invalid Month No.

In [27]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict2 = dict1.copy()
print (dict2, len(dict2), type(dict2), id(dict2))
dict1['mango'] = "red"
dict2['apple'] = "deep red"
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict2, len(dict2), type(dict2), id(dict2))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308368853760
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308335675712
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange'} 4 <class 'dict'> 2308368853760
{'apple': 'deep red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2308335675712

In [29]:
list1 = [100, 200, 300, 400]
list2 = list1.copy()
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))
list1[0] = 1000
list2[2] = 3000
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[100, 200, 300, 400] 4 2308364794752
[100, 200, 300, 400] 4 2308367747392
[1000, 200, 300, 400] 4 2308364794752
[100, 200, 3000, 400] 4 2308367747392

## Set Processing

In [35]:
# forming a set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5]
set1 = set(list1)
print (set1, len(set1), type(set1))

{True, 38.5, 'Amitava', 70000, 'Chennai'} 5 <class 'set'>

In [36]:
# forming a set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5)
set1 = set(tuple1)
print (set1, len(set1), type(set1))

{True, 38.5, 'Amitava', 70000, 'Chennai'} 5 <class 'set'>

In [37]:
# forming a set directly
set1 = {'Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5}
print (set1, len(set1), type(set1))

{70000, True, 38.5, 'Amitava', 'Chennai'} 5 <class 'set'>

In [42]:
# set operations: union, intersection, set difference, symmetric difference
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.union(languages)
print (result, len(result), type(result))
result = snakes | languages
print (result, len(result), type(result))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'java', 'viper', 'cobra', 'c++', 'python'} 5 <class 'set'>
{'java', 'viper', 'cobra', 'c++', 'python'} 5 <class 'set'>

In [45]:
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.intersection(languages)
print (result, len(result), type(result))
result = snakes & languages
print (result, len(result), type(result))
print ()
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
snakes.intersection_update(languages)
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'python'} 1 <class 'set'>
{'python'} 1 <class 'set'>

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'python'} 1 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>

In [48]:
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.difference(languages)
print (result, len(result), type(result))
result = snakes - languages
print (result, len(result), type(result))
print ()
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
snakes.difference_update(languages)
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>

In [49]:
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.symmetric_difference(languages)
print (result, len(result), type(result))
result = snakes ^ languages
print (result, len(result), type(result))
print ()
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
snakes.symmetric_difference_update(languages)
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'java', 'viper', 'cobra', 'c++'} 4 <class 'set'>
{'java', 'viper', 'cobra', 'c++'} 4 <class 'set'>

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>
{'java', 'viper', 'cobra', 'c++'} 4 <class 'set'>
{'java', 'c++', 'python'} 3 <class 'set'>

In [52]:
set1 = {100, 200, 300}
set2 = {400, 500, 600, 700, 800}
set3 = {600, 700, 800}
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

False True False
False False True
True False False

In [55]:
set1 = {100, 200, 300}
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))
print (set2.pop())
print (set1, id(set1), set2, id(set2))

{200, 100, 300} 2308380275456 {200, 100, 300} 2308373689088
200
{200, 100, 300} 2308380275456 {100, 300} 2308373689088

In [58]:
# insert operation on a set
set1 = {100, 200, 300}
print (set1, len(set1), type(set1))
set1.add(400)
print (set1, len(set1), type(set1))
set1.add(500)
print (set1, len(set1), type(set1))
set1.add(600)
print (set1, len(set1), type(set1))

{200, 100, 300} 3 <class 'set'>
{200, 100, 400, 300} 4 <class 'set'>
{100, 200, 300, 400, 500} 5 <class 'set'>
{100, 200, 300, 400, 500, 600} 6 <class 'set'>

In [62]:
# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
set1.remove(300)
print (set1, len(set1), type(set1))
set1.remove(600)
print (set1, len(set1), type(set1))
set1.remove(600)
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>
{400, 700, 100, 500, 200, 600} 6 <class 'set'>
{400, 700, 100, 500, 200} 5 <class 'set'>

KeyError: 600

In [61]:
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
set1.discard(300)
print (set1, len(set1), type(set1))
set1.discard(600)
print (set1, len(set1), type(set1))
set1.discard(600)
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>
{400, 700, 100, 500, 200, 600} 6 <class 'set'>
{400, 700, 100, 500, 200} 5 <class 'set'>
{400, 700, 100, 500, 200} 5 <class 'set'>

In [63]:
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>
400
{700, 100, 500, 200, 600, 300} 6 <class 'set'>
700
{100, 500, 200, 600, 300} 5 <class 'set'>
100
{500, 200, 600, 300} 4 <class 'set'>
500
{200, 600, 300} 3 <class 'set'>

In [64]:
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
set1.clear()
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>
set() 0 <class 'set'>

In [65]:
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
del set1
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>

NameError: name 'set1' is not defined

In [66]:
# update operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1, len(set1), type(set1))
set1.remove(600)   # deleting the item
print (set1, len(set1), type(set1))
set1.add(1600)   # inserting the item
print (set1, len(set1), type(set1))

{400, 700, 100, 500, 200, 600, 300} 7 <class 'set'>
{400, 700, 100, 500, 200, 300} 6 <class 'set'>
{400, 1600, 700, 100, 500, 200, 300} 7 <class 'set'>

In [69]:
# concatenating two sets
set1 = {100.5, True, 200, 300}
set2 = {"300", 600, 700, False, "500", 400}
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))
set1.update(set2)
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))

{200, True, 100.5, 300} 4 <class 'set'>
{False, 400, '300', 600, '500', 700} 6 <class 'set'>
{False, True, 100.5, '300', 200, '500', 300, 400, 600, 700} 10 <class 'set'>
{False, 400, '300', 600, '500', 700} 6 <class 'set'>

## Frozen Set Processing

In [40]:
# forming a frozenset set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5]
set1 = frozenset(list1)
print (set1, len(set1), type(set1))

frozenset({True, 38.5, 'Amitava', 70000, 'Chennai'}) 5 <class 'frozenset'>

In [41]:
# forming a frozenset set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5)
set1 = frozenset(tuple1)
print (set1, len(set1), type(set1))

frozenset({True, 38.5, 'Amitava', 70000, 'Chennai'}) 5 <class 'frozenset'>

In [46]:
# frozen set operations: union, intersection, set difference, symmetric difference
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.union(languages)
print (result, len(result), type(result))
result = snakes | languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'c++', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'viper', 'cobra', 'c++', 'python'}) 5 <class 'frozenset'>
frozenset({'java', 'viper', 'cobra', 'c++', 'python'}) 5 <class 'frozenset'>

In [47]:
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.intersection(languages)
print (result, len(result), type(result))
result = snakes & languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'c++', 'python'}) 3 <class 'frozenset'>
frozenset({'python'}) 1 <class 'frozenset'>
frozenset({'python'}) 1 <class 'frozenset'>

In [50]:
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.difference(languages)
print (result, len(result), type(result))
result = snakes - languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'c++', 'python'}) 3 <class 'frozenset'>
frozenset({'viper', 'cobra'}) 2 <class 'frozenset'>
frozenset({'viper', 'cobra'}) 2 <class 'frozenset'>

In [51]:
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.symmetric_difference(languages)
print (result, len(result), type(result))
result = snakes ^ languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'c++', 'python'}) 3 <class 'frozenset'>
frozenset({'java', 'viper', 'cobra', 'c++'}) 4 <class 'frozenset'>
frozenset({'java', 'viper', 'cobra', 'c++'}) 4 <class 'frozenset'>

In [53]:
set1 = frozenset({100, 200, 300})
set2 = frozenset({400, 500, 600, 700, 800})
set3 = frozenset({600, 700, 800})
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

False True False
False False True
True False False

In [57]:
set1 = frozenset([100, 200, 300])
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))

frozenset({200, 100, 300}) 2308380308000 frozenset({200, 100, 300}) 2308380308000